<a href="https://colab.research.google.com/github/arturbernardo/cheias_taquari/blob/main/cheias_taquari.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd
from datetime import datetime

dateparse = lambda dates: [datetime.strptime(d, '%d/%m/%Y') for d in dates]

df = pd.read_csv('/content/cheias_taquari.csv',
                 decimal=',',
                 parse_dates=['data'],
                 date_parser=dateparse,
                 sep = ',',
                 dtype={
                          "cota": float
                      }
                 )
df

<ipython-input-18-fee378911103>:6: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv('/content/cheias_taquari.csv',

         data   cota Unnamed: 2
0  1940-07-18  26.40        NaN
1  1941-05-06  28.65        NaN
2  1941-11-18  25.93        NaN
3  1942-05-20  23.90        NaN
4  1946-01-27  27.40        NaN
5  1954-09-23  27.35        NaN
6  1956-04-06  28.86        NaN
7  1965-08-22  26.40        NaN
8  1967-09-20  26.33        NaN
9  1982-06-29  25.40        NaN
10 1983-07-10  24.75        NaN
11 1988-09-15  24.25        NaN
12 1989-09-12  25.20        NaN
13 1989-09-25  25.89        NaN
14 1990-06-02  26.64        NaN
15 1990-10-16  22.10        NaN
16 1992-05-28  25.35        NaN
17 1997-08-05  25.60        NaN
18 2000-10-13  23.80        NaN
19 2001-07-22  26.30        NaN
20 2001-10-03  26.95        NaN
21 2002-06-13  22.40        NaN
22 2003-02-21  21.80        NaN
23 2003-07-09  19.65        NaN
24 2003-10-25  20.73        NaN
25 2003-12-15  20.38        NaN
26 2004-07-16  15.17        NaN
27 2004-09-16  14.09        NaN
28 2005-05-09  20.94        NaN
29 2005-06-15  17.32        NaN
30 2005-09-01  17.35        NaN
31 2005-10-17  22.95        NaN
32 2005-10-29  15.77        NaN
33 2006-07-27  19.86        NaN
34 2007-05-16  15.72        NaN
35 2007-07-11  24.51        NaN
36 2007-07-23  18.66        NaN
37 2007-09-24  26.25        NaN
38 2007-11-02  16.55        NaN
39 2008-10-27  26.65        NaN
40 2009-08-10  21.55        NaN
41 2009-09-12  24.50        NaN
42 2009-09-28  21.75        NaN
43 2010-01-05  23.95        NaN
44 2010-04-27  18.30        NaN
45 2010-09-23  21.55        NaN
46 2011-07-21  26.85        NaN
47 2011-08-10  24.66        NaN
48 2012-09-20  21.25        NaN
49 2013-08-25  23.83        NaN
50 2013-09-22  18.69        NaN
51 2014-06-06  19.89        NaN
52 2014-10-20  20.49        NaN
53 2015-07-15  21.35        NaN
54 2015-09-21  22.10        NaN
55 2020-07-01  27.39          *
56 2023-09-01  29.62          *
57 2023-11-01  28.94          *
58 2024-05-01  33.35          *

In [ ]:
df_filtered = df[df['cota'] > 25]
df_filtered

In [23]:
import altair as alt

chart = alt.Chart(df_filtered).mark_line().encode(
    x = 'data:T',
    y = 'cota'
)

chart

alt.Chart(...)